* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/6yxkcg93k7w.png);
    background-repeat: no-repeat;
    max-width: 1536px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
    font-family: Arial, sans-serif;
}

.container > * {
    border: 2px dashed blue;
}

.container {
    display: grid;
    grid-template-rows: minmax(100px, auto) minmax(513px, auto) minmax(383px, auto) minmax(574px, auto);
    grid-template-columns: minmax(20px,200px) minmax(20px, 235px) minmax(20px, 661px) minmax(20px, 440px);
    grid-template-areas: 
    "one five five five"
    "two two  two  two"
    "three three three three"
    "four four six seven";
}


/*--- BOX 1 ---*/

.container > .box1 {
    grid-area: one;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 5px;
}

.container > .box1 > img {
    width: 50px;
}

/*--- BOX 2 ---*/

.container > .box2 {
    grid-area: two;
    display: flex;
    flex-direction: column;
}

.container > .box2 > *
{
    width: 100%;
}

.hero-box-1 {
    flex-basis: 82%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-box-1 > .separator {
    flex-basis: 20%;
}

.sub-hero-box-1 {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 25px;
    margin-top: -30px;
    margin-left: -5px;
    width: 762px;
    opacity: 1;
}

.sub-hero-box-1 h3 {
    font-size: 37px;
    color: white;
}

.search-form-container {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 780px;
    flex-wrap: wrap;
}

.search-form-container > input {
    flex-grow: 1; 
    padding: 14px 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

.search-form-container .find-button {
    background-color: #007bff;
    color: white;
    padding: 5px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.search-form-container .icon-button {
    background-color: white;
    color: #333;
    font-size: 30px;
    border: none;
    border-left: 1px solid #ccc;
    border-radius: 5px;
    width: 50px;
}

.sub-hero-box-1 .employee-link {
    color: white;
    text-decoration: underline;
    font-size: 16px;
    margin-bottom: -8px;
}

.hero-box-2 {
    flex-basis: 18%;
    display: flex;
    justify-content: space-around;
    gap: 240px;
    width: 100%;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 600;
    flex-wrap: wrap;
}

.numbers-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    padding-top: 5px;
    gap: 30px;
}

.numbers-list li h3 {
    font-size: 24px;
}

.numbers-list li p {
    font-size: 14px;
    margin-top: 4px;
}

.download {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.download > * {
    width: 140px;
    height: 40px;
    background-image: url('https://i.hh.ru/styles/globals/blocks/supernova/images/app-store-buttons__min_.svg');
    overflow: hidden;
    display: block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 4px;
}

.hero-box-2 > .download > a:nth-of-type(1) {
    background-position: 0 -45px;
}

.hero-box-2 > .download > a:nth-of-type(3) {
    background-position: 0 -90px;
}

/*--- BOX 3 ---*/

.container > .box3 {
    grid-area: three;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.container > .box3 .sub-box-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 28px;
    color: black;
    margin-bottom: 16px;
}

.container > .box3 > .box3-support {
    width: 82%;
    padding-left: 4px;
    padding-bottom: 5px;
}

.container > .box3 > .box3-support > p {
    margin-bottom: 15px;
    font-size: 14px;
    display: inline;
    text-decoration: underline dashed;
}

.category-card {
    min-height: 102px;
    padding: 12px 0 0 24px;
    border-radius: 4px;
    border: 1px solid #333;
    position: relative;
}

/* 
every card is different padding,
how I'm supposed to change it with reasonable amount of effort,
like every single detail of this website.
Everything is inside 20+ divs that everything uses padding and margin that is over 50px.
None of them can be centered by flexbox without margin over 50px or separator element.
*/

.category-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
}

.category-card h4 {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    margin: 0;
    margin-bottom: 3px;
}

.category-card .salary-range {
    font-size: 14px;
    color: #666;
    display: block;
    height: 21px;
}

.category-card .vacancy-count {
    font-size: 15px;
    color: #999;
}

.card-red::before { background-color: #ffb6c1; } 
.card-light-red::before { background-color: #fce4ec; } 
.card-pink::before { background-color: #ffb6c1; } 
.card-orange::before { background-color: #ffe0b2; } 
.card-purple::before { background-color: #e1bee7; }
.card-brown::before { background-color: #d7ccc8; }
.card-yellow::before { background-color: #fff9c4; }
.card-green::before { background-color: #c8e6c9; }

/*--- BOX 4 ---*/

.container > .box4 {
    grid-area: four;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
    color: black;
    padding-right: 39px;
    padding-bottom: 0;
}

.box4 h2 {
    font-size: 20px;
    color: rgb(42, 42, 42);
    text-align: center;
    width: 100%;
    font-weight: 300;
    margin: 0 -7px 10px 0;
}

.container > .box4 .banner-ad {
    margin-top: 8px;
    margin-bottom: 10px;
}

.company-list {
    list-style: none;
    padding: 0;
}

.company-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    font-size: 14px;
    color: #333;
    gap: 95px;
}

.company-list .vacancy-count {
    font-size: 12px;
    font-weight: 700;
}

/*--- BOX 5 ---*/

.container > .box5 {
    grid-area: five;
}

.main-menu {
    display: flex;
    list-style-type: none;
    padding: 0px 0px 3px 21px;
    margin: 0;
    align-items: end;
    gap: 10px;
    max-width: 100%;
    min-height: 100%;
}

.main-menu > * {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    font-weight: 500;
    font-style: normal;
}

.main-menu > .box1 {
    flex-basis: 122px;
    margin-bottom: 11px;
}

.main-menu > .box2 {
    flex-basis: 783px;
    margin-bottom: 11px;
}

.main-menu > .box3 {
    flex-basis: 132px;
    color: #a3daa5;
    border: 1px solid #a3daa5;
}

.main-menu > .box4 {
    flex-basis: 103px;
    color: white;
    border: 1px solid white;
}

.main-menu > .button , .main-menu > .button
{
    text-align: center;
    border-radius: 100px;
    padding: 12px 0 8px;
}

/*--- BOX 6 ---*/

.container > .box6 {
    grid-area: six;
}

/*--- BOX 7 ---*/

.container > .box7 {
    grid-area: seven;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 0 6px 2px;
}

.container > .box7 > * {
    width: 300px;
    height: 250px;
}

/*--- OTHER ---*/

.container > .background
{
    width: 100%;
    max-width: 1536px;
    position: absolute;
    z-index: -1;
    height: 614px;
    /* display: none; */
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven";
    }

    .background {
        display: none;
    }

}

@media (max-width: 900px) {
    .container {
        grid-template-areas: 
        "one five five five"
        "two two  two  two"
        "three three three three"
        "four four six six";
    }

    .container > .box7 {
        display: none;
    }

    .container > .box3 .sub-box-3 {
        grid-template-columns: 1fr 1fr;
    }
}